<div class="AboutContent">
  <h1>Book Store</h1>
  <p>Welcome to Book Store, one of the world's leading specialist online bookstores. We're proud to offer more than 19 million titles at low prices -- all with free delivery worldwide to over 100 countries. Whatever your interest or passion, you'll find something interesting in our bookshop full of delights.
  Book Depository ships to thousands of customers across the world every day from our fulfillment centres in Athens (GR), and London (UK). We have more than a million customers and a reputation for extremely high service levels.</p>
</div>
