<section class="content">
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <h1>Welcome to Book Store</h1>
    <h2>Your source for every book you are looking for!</h2>
  </div>
</div>
</section>

<%= image_tag("book1.jpg", class: "img-responsive") %>
