<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice">Thank you for your purchase! <br> We have received your payment and we will proceed with your order accordingly.</p>
  </div>
</div>
