// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* { box-sizing: border-box; }
body{
  background-color: #fffeea;
}
h1{
  text-align: left;
  //font-family: verdana, arial, sans-serif;
  color: #6699ff;
  font-weight: 400;
  padding: 20px;
  font-family: Georgia,Times,"Times New Roman",serif;
}
// Footer

footer {
  height: 40px;
  background-color:#6699ff;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  text-align: center;
  font-weight: 400;
  left:0;
  z-index: 50000;
}
.content,.ContactContent, .AboutContent, .products, .landing_page, .new-product, .panel-body, .logInDetails, .signUpDetails, .alertNotice {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  margin: 40px;
}
.form-group,{
  margin-top: 10px;
  margin-left: 50px;
  width: 33%;
}
label{
  font-size: 1.3em;
  line-height: 1em;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
}
.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
nav{
  //position: fixed;
  width: 100% !important; /*me to !important kaluptei olo to euros tis othonis, gia na kanw overwrite to width 80% pou exw orisei parapanw gia to container */
  top: 0; /*gia na einai panw panw */
  left: 0; /*gia na kollisei aristera */
  padding:20px;
  color: white;
  background-color: #ff99cc;
  font-weight: 900;
  //z-index: 50000;
}
nav a{
  color: white;
  font-size: 1em;
}
nav a:hover {
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms; /*gia na to ktlv kai alloi browsers i.e. safari */
  -moz-transition: color 600ms; /*gia na douleuei kai se Firefox */
  color: white; /*gt den allazoun xrwma ta grammata na ginoun leuka? */
  font-size: 1em; /*ekane terastia ta grammata dioti 1em=16px */
  font-weight: 900; /*exei na kanei me to poso entona einai ta grammata, to max einai to 900*/
}
#navbarSupportedContent a {
  padding: 10px;
}
.navbar-form{
  margin-left: 10px;
}

a.navbar-brand{
  color:#CCCC99 !important;
  font-size: 1.3em;
  font-weight: 700;
}
nav label{
  color: blue;
  font-size: 1em;
}
