// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* { box-sizing: border-box; }
h1{
  text-align: left;
  font-family: verdana, arial, sans-serif;
  color: #6699ff;
  font-weight: 400;
  padding: 20px;
}
// Footer

footer {
  height: 40px;
  background-color:#6699ff;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  text-align: center;
  font-weight: 400;
}
.content,.ContactContent, .AboutContent, .products, .landing_page {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  margin: 40px;
}
nav{
  position: fixed;
  width: 100% !important; /*me to !important kaluptei olo to euros tis othonis, gia na kanw overwrite to width 80% pou exw orisei parapanw gia to container */
  top: 0; /*gia na einai panw panw */
  left: 0; /*gia na kollisei aristera */
  background-color: #ff99cc;
  font-weight: 500;
  padding:20px;
  z-index: 50000;
}
#navbarSupportedContent a {
  padding: 10px;
}
