<div class="product-reviews">
  <% @comments.each do |comment| %>
        <div class="row">


          <% if signed_in? && current_user.admin? %>
<!-- admin section -->
<div class="row m-0 p-0">

  <div class="col-12 m-0 p-0 text-right">
    <%= link_to '<i class="fas fa-times"></i>'.html_safe,
        product_comment_path(comment.product, comment),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "btn btn-sm btn-danger"
    %>
  </div>

</div>
<!-- /admin section -->
<% end %>
